<ul class="nav nav-tabs nav-stacked">
    <li><a data-id="" href="{{ path('amicale_commandes_index', {'statut': 'encours' }) }}">En cours</a></li>
    <li><a data-id="" href="{{ path('amicale_commandes_index', {'statut': 'valide' }) }}">Envoyées</a></li>
    <li><a data-id="" href="{{ path('amicale_commandes_index', {'statut': 'close' }) }}">Reçues</a></li>
</ul>
