<div id="connexion_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Connexion</h3>
    </div>
    <div class="modal-body">
       {{ render(controller('AmicaleUserBundle:Security:login')) }}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Fermer</a>
    </div>
</div>