<li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}"><span>Connecté en tant que {{ app.user.username }} -</span>Déconnexion</a>
    {% else %}
                <!--a href="{{ path('fos_user_security_login') }}">Connexion</a-->
        <a href='#' id="open_modal_connexion" >Connexion</a>
    {% endif %}
</li>